@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Josefin Sans", "Roboto", sans-serif;
  background-color: #252627;
  color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

li {
  width: 100%;
}

svg {
  width: 100%;
  max-width: 30px;
  transition: all 0.3s ease;
}

.u-uppercase {
  text-transform: uppercase;
}
.u-lowercase {
  text-transform: capitalize;
}

.fake-button::active {
  transform: scale(0.95);
}

.flex-column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.sidebar__logo,
.navbar__logo {
  position: relative;
  margin-top: 0.5rem;
  padding-top: 0.4rem;
  z-index: 10;
}
.sidebar__logo .logo,
.navbar__logo .logo {
  top: 50%;
  left: 50%;
  color: rgba(255, 255, 255, 0.75);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -4px;
  text-shadow: 0 0.2rem 0.4rem #2f2f32, 0 0.2rem 0.4rem #2f2f32;
  transform: translate(-50%, 100%);
}
.sidebar__logo::before, .sidebar__logo::after,
.navbar__logo::before,
.navbar__logo::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 2rem;
  padding: 1rem;
  border: 5px solid #4bafac;
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-animation: 10s infinite alternate ease-in-out spin;
          animation: 10s infinite alternate ease-in-out spin;
}
.sidebar__logo::before,
.navbar__logo::before {
  border-color: #4bafac #4bafac transparent transparent;
  z-index: -1;
}
.sidebar__logo::after,
.navbar__logo::after {
  border-color: transparent transparent #4bafac #4bafac;
  z-index: 1;
  box-shadow: 4px 2px 1px #2f2f32;
}
@media screen and (max-width: 768px) {
  .sidebar__logo,
.navbar__logo {
    margin: 0 0 0 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .sidebar__logo,
.navbar__logo {
    margin: 0 0 0 2.5rem;
  }
}

.desktop-menu {
  display: flex;
  position: relative;
}
.desktop-menu .sidebar {
  position: fixed;
  width: 100%;
  max-width: 75px;
  height: 100vh;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  z-index: 10;
  background-color: #1b1d1d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 75px;
    flex-flow: row nowrap;
    align-items: center;
  }
}
.desktop-menu .sidebar__nav-list .nav-list__item {
  margin-bottom: 2rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}
.desktop-menu .sidebar__nav-list .nav-list__item a {
  position: relative;
  justify-content: center;
  align-items: center;
  transition: transform 0.15s ease;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__nav-list .nav-list__item a {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__nav-list .nav-list__item a svg {
    align-self: flex-end;
    margin-top: 0.5rem;
  }
}
.desktop-menu .sidebar__nav-list .nav-list__item a span {
  display: block;
  flex-basis: 100%;
  padding-top: 0.25rem;
  transform: translateX(-200px);
  transition: all 0.15s ease;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__nav-list .nav-list__item a span {
    transform: translateY(-200px);
    align-self: flex-end;
    padding-bottom: 0.5rem;
  }
}
.desktop-menu .sidebar__nav-list .nav-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__nav-list .nav-list__item:last-child {
    margin-right: 0;
  }
}
.desktop-menu .sidebar__nav-list .nav-list__item.active, .desktop-menu .sidebar__nav-list .nav-list__item:hover {
  opacity: 1;
}
.desktop-menu .sidebar__nav-list .nav-list__item.active span, .desktop-menu .sidebar__nav-list .nav-list__item:hover span {
  transform: translateX(0);
  color: #4bafac;
  font-weight: bold;
}
.desktop-menu .sidebar__nav-list .nav-list__item.active svg, .desktop-menu .sidebar__nav-list .nav-list__item:hover svg {
  transform: scale(1.1);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 12s ease alternate;
          animation: dash 12s ease alternate;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__nav-list .nav-list__item {
    height: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__nav-list {
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    max-width: 45%;
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  .desktop-menu .sidebar__nav-list {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .desktop-menu {
    display: none;
  }
}
.desktop-menu .sidebar__extra-content {
  display: flex;
  flex-flow: column nowrap;
}
.desktop-menu .sidebar__extra-content span {
  display: block;
  width: 100%;
  text-align: center;
  color: #4bafac;
  font-weight: bold;
  transition: all 0.15s ease;
  transform: translateX(-200px);
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content span {
    align-self: flex-end;
    padding-bottom: 0.5rem;
    transform: translateY(-200px);
  }
}
.desktop-menu .sidebar__extra-content .extra-content__language {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.15s ease;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__language svg {
    align-self: flex-end;
    margin-top: 0.5rem;
  }
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector {
  position: absolute;
  top: 0;
  right: -200px;
  left: 75px;
  width: 130px;
  padding-left: 1.5rem;
  visibility: hidden;
  z-index: 1;
  transition: visibility 0ms ease-out 600ms;
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item {
  margin-bottom: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  background-color: #1b1d1d;
  opacity: 0;
  transform: translateX(-200px);
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item span {
  width: 75px;
  height: 15px;
  align-self: center;
  color: rgba(255, 255, 255, 0.75);
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item svg {
    margin: 0;
  }
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item:nth-of-type(1) {
  border-top: 1px solid rgba(255, 255, 255, 0.75);
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item:nth-child(1) {
  transition: transform 0.15s ease 0.3s, opacity 100ms ease-out 0.3s;
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item:nth-child(2) {
  transition: transform 0.15s ease 0.2s, opacity 100ms ease-out 0.2s;
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item:nth-child(3) {
  transition: transform 0.15s ease 0.1s, opacity 100ms ease-out 0.1s;
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item.is-selected {
  background-color: #585f5f;
  font-weight: bold;
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item.is-selected a span {
  color: #4bafac;
}
.desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item:hover {
  background-color: #585f5f;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector .language-selector__item {
    transform: translateX(200px);
  }
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__language .extra-content__language-selector {
    left: -17px;
    top: 83px;
  }
}
.desktop-menu .sidebar__extra-content .extra-content__language svg:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 1.1rem;
  opacity: 0;
  transform: translateY(-85%);
  transition: all 0.15s ease;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__language svg:nth-of-type(2) {
    transform: translateY(-130%) rotate(90deg);
  }
}
.desktop-menu .sidebar__extra-content .extra-content__language:hover {
  transform: translateX(-1rem);
}
.desktop-menu .sidebar__extra-content .extra-content__language:hover span {
  transform: translateX(1rem);
}
.desktop-menu .sidebar__extra-content .extra-content__language:hover svg:nth-of-type(2) {
  opacity: 1;
  right: -0.5rem;
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open {
  transform: translateX(-1rem);
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open .extra-content__language-selector {
  visibility: visible;
  transition: visibility 0ms ease-out 0ms;
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open .extra-content__language-selector li:nth-of-type(1) {
  opacity: 1;
  transform: none;
  transition: transform 0.15s ease 0.1s, opacity 0.1s ease-out 0.1s;
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open .extra-content__language-selector li:nth-of-type(2) {
  opacity: 1;
  transform: none;
  transition: transform 0.15s ease 0.2s, opacity 0.1s ease-out 0.2s;
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open .extra-content__language-selector li:nth-of-type(3) {
  opacity: 1;
  transform: none;
  transition: transform 0.15s ease 0.3s, opacity 0.1s ease-out 0.3s;
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open span {
  transform: scale(0.95) translateX(1rem);
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open svg {
  transform: scale(0.95);
}
.desktop-menu .sidebar__extra-content .extra-content__language.is-open svg:nth-of-type(2) {
  right: -0.5rem;
  opacity: 1;
  transform: translateY(-85%) scale(0.9) rotate(180deg);
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__language.is-open svg:nth-of-type(2) {
    transform: translateY(-130%) scale(0.9) rotate(-90deg);
  }
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__language {
    margin-bottom: 0;
  }
}
.desktop-menu .sidebar__extra-content .extra-content__share {
  justify-content: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__share svg {
    align-self: flex-end;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__share span {
    align-self: flex-end;
    padding-bottom: 0.5rem;
  }
}
.desktop-menu .sidebar__extra-content .extra-content__share:hover span {
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content .extra-content__share {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .desktop-menu .sidebar__extra-content {
    flex-flow: row nowrap;
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  .desktop-menu .sidebar__extra-content {
    display: none;
  }
}

.mobile-menu {
  display: none;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: #1b1d1d;
  transition: all 0.3s ease;
}
.mobile-menu .navbar__mobile-menu {
  display: none;
  position: relative;
  height: 100%;
}
.mobile-menu .navbar__mobile-menu .menu {
  position: relative;
  width: 50px;
  height: 40px;
  margin: 1.55rem 1.55rem 0 1.55rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s ease;
}
.mobile-menu .navbar__mobile-menu .menu span {
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 50px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  transition: all 0.5s ease;
}
.mobile-menu .navbar__mobile-menu .menu span:nth-of-type(1) {
  transition: width 0.15s 0.15s, top 0.15s, right 0.15s, transform 0.15s;
}
.mobile-menu .navbar__mobile-menu .menu span:nth-of-type(2) {
  top: 10px;
  transition: transform 0.15s;
}
.mobile-menu .navbar__mobile-menu .menu span:nth-of-type(3) {
  top: 20px;
  right: 0;
  transition: width 0.15s 0.15s, top 0.15s, right 0.15s, transform 0.15s;
}
@media screen and (max-width: 550px) {
  .mobile-menu .navbar__mobile-menu {
    display: block;
  }
}
.mobile-menu .navbar__mobile-menu__nav {
  display: block;
  position: absolute;
  left: 100%;
  top: 64px;
  height: calc(100vh - 65px);
  min-height: calc(100vh - 65px);
  width: 100vw;
  background: #1b1d1d;
  overflow-x: hidden;
  transition: all 0.3s ease 0.5s;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list {
  margin-top: 1rem;
  font-size: 1.5rem;
  justify-content: center;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item {
  padding: 1rem 0;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 75%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  transform: translateX(550px);
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item:nth-child(1) {
  transition: transform 0.15s ease 0.3s;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item:nth-child(2) {
  transition: transform 0.15s ease 0.2s;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item:nth-child(3) {
  transition: transform 0.15s ease 0.1s;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item:nth-child(4) {
  transition: transform 0.15s ease 0s;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item:nth-child(5) {
  transition: transform 0.15s ease -0.1s;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item:nth-child(6) {
  transition: transform 0.15s ease -0.2s;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item.active {
  color: #4bafac;
  border-bottom-color: #4bafac;
}
.mobile-menu .navbar__mobile-menu__nav .navbar__mobile-menu__list .navbar__mobile-menu__item:active a {
  transition: all 0.3s ease;
  transform: scale(0.95);
}
.mobile-menu.is-open {
  box-shadow: unset;
}
.mobile-menu.is-open .menu span:nth-of-type(1) {
  top: 2%;
  left: 7%;
  width: 50%;
  transform: rotate(45deg);
  transition: width 0.15s, top 0.15s 0.15s, left 0.15s 0.15s, transform 0.15s 0.15s;
}
.mobile-menu.is-open .menu span:nth-of-type(2) {
  transform: rotate(-45deg);
  transition: transform 0.15s 0.15s;
}
.mobile-menu.is-open .menu span:nth-of-type(3) {
  width: 50%;
  right: 7%;
  top: 47%;
  transform: rotate(45deg);
  transition: width 0.15s, top 0.15s 0.15s, right 0.15s 0.15s, transform 0.15s 0.15s;
}
.mobile-menu.is-open .navbar__mobile-menu__nav {
  left: 0;
  z-index: 40000;
  transition: all 0.3s ease;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .navbar__mobile-menu__item {
  transform: translateX(0);
}
.mobile-menu.is-open .navbar__mobile-menu__nav .navbar__mobile-menu__item:nth-child(1) {
  transition: transform 0.15s ease 0.1s;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .navbar__mobile-menu__item:nth-child(2) {
  transition: transform 0.15s ease 0.2s;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .navbar__mobile-menu__item:nth-child(3) {
  transition: transform 0.15s ease 0.3s;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .navbar__mobile-menu__item:nth-child(4) {
  transition: transform 0.15s ease 0.4s;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .navbar__mobile-menu__item:nth-child(5) {
  transition: transform 0.15s ease 0.5s;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .navbar__mobile-menu__item:nth-child(6) {
  transition: transform 0.15s ease 0.6s;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language {
  position: relative;
  margin-top: 2rem;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language a {
  width: 100%;
  justify-content: center;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language .arrow-icon {
  position: absolute;
  transform: rotate(90deg);
  right: 1rem;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language .language__list {
  width: 100%;
  max-width: 75%;
  height: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language .language__list .language__item a {
  align-items: center;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language .language__list .language__item.is-selected span {
  color: #4bafac;
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language.is-open .arrow-icon {
  transform: rotate(-90deg);
}
.mobile-menu.is-open .navbar__mobile-menu__nav .language.is-open .language__list {
  display: flex;
  height: 30px;
  visibility: visible;
  opacity: 1;
  padding-top: 1rem;
}
@media screen and (max-width: 550px) {
  .mobile-menu {
    display: flex;
  }
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes spin {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
